@model MainProject.BL.DTO.UserDTO

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Mail)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Mail)
    </dd>
    <h2>Materials</h2>
    @foreach (var material in Model.Materials)
    {
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => material.Name)
        </dt>        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => material.Name)
        </dd>
    }
    
    <h2>Skills</h2>
    @foreach (var skill in ViewBag.Skills)
    {
        <dt class = "col-sm-2">
            @Html.Raw("Skill Name")
        </dt>   
        <dt class = "col-sm-2">
            @Html.Raw(skill.Item2)
        </dt>      
        <dd class = "col-sm-2">
            @Html.Raw(skill.Item1)
        </dd>
    }
</dl>